<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数字未来管理平台</title>
    <!-- Bootstrap Core CSS -->
    <link href="./admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./admin/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="./admin/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="./admin/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./admin/css/sing/common.css" />
    <link rel="stylesheet" href="./admin/css/party/bootstrap-switch.css" />


    <!-- jQuery -->
    <script src="./admin/js/jquery.js"></script>
    <script src="./admin/js/bootstrap.min.js"></script>
    <script src="./admin/js/dialog/layer.js"></script>
    <script src="./admin/js/dialog.js"></script>

<style>

</style>
</head>

    


