
{include file="index/header"}
<body>

<div id="wrapper">

    {include file="index/nav"}

    <div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="index.php?s=admin/user/index">用户列表</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> 认购社区
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form class="form-horizontal" id="singcms-form">
                    <input type="hidden" name="member_id" value="{$member_id}" />
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">认领地址:</label>
                        <div class="col-sm-5" id="city_4">
                            <select class="form-control" name="province" id="province" style="width:90px;display:inline-block;">
                                <option selected>-</option>
                                <option value='安徽'>安徽</option><option value='北京'>北京</option><option value='福建'>福建</option><option value='上海'>上海</option><option value='天津'>天津</option><option value='山西'>山西</option><option value='贵州'>贵州</option><option value='河北'>河北</option><option value='浙江'>浙江</option><option value='江苏'>江苏</option><option value='甘肃'>甘肃</option><option value='四川'>四川</option><option value='西藏'>西藏</option><option value='云南'>云南</option><option value='重庆'>重庆</option><option value='青海'>青海</option><option value='新疆'>新疆</option><option value='河南'>河南</option><option value='湖南'>湖南</option><option value='吉林'>吉林</option><option value='江西'>江西</option><option value='辽宁'>辽宁</option><option value='山东'>山东</option><option value='陕西'>陕西</option><option value='广西'>广西</option><option value='宁夏'>宁夏</option><option value='黑龙江'>黑龙江</option><option value='内蒙古'>内蒙古</option><option value='海南'>海南</option><option value='湖北'>湖北</option><option value='广东'>广东</option>
                            </select> 
                            <select class="form-control" name="city" id="city"style="width:90px;display:inline-block;">
                            <option selected>-</option>
                            </select>
                            <select class="form-control"  name="area" id="area" style="width:90px;display:inline-block;"><option selected>-</option></select>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">社区编号:</label>
                        <div class="col-sm-5">
                            <select name="community_id" id="community_id" class="form-control" >
                                                  
                                <option value=''>---</option>
                                
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">所属工委:</label>
                        <div class="col-sm-5">
                            <select name="gongwei" id="" class="form-control">
                                                  
                                <option value='安徽'>安徽</option><option value='北京' selected>北京</option><option value='福建'>福建</option><option value='上海'>上海</option><option value='天津'>天津</option><option value='山西'>山西</option><option value='贵州'>贵州</option><option value='河北'>河北</option><option value='浙江'>浙江</option><option value='江苏'>江苏</option><option value='甘肃'>甘肃</option><option value='四川'>四川</option><option value='西藏'>西藏</option><option value='云南'>云南</option><option value='重庆'>重庆</option><option value='青海'>青海</option><option value='新疆'>新疆</option><option value='河南'>河南</option><option value='湖南'>湖南</option><option value='吉林'>吉林</option><option value='江西'>江西</option><option value='辽宁'>辽宁</option><option value='山东'>山东</option><option value='陕西'>陕西</option><option value='广西'>广西</option><option value='宁夏'>宁夏</option><option value='黑龙江'>黑龙江</option><option value='内蒙古'>内蒙古</option><option value='海南'>海南</option><option value='湖北'>湖北</option><option value='广东'>广东</option>
                                
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">所属纵队:</label>
                        <div class="col-sm-5">
                            <select name="zongdui" id="" class="form-control">
                                                  
                                <option value='华阳'>华阳</option>
                                <option value='华选'>华选</option>
                                <option value='华静'>华静</option>
                                <option value='华文'>华文</option>
                                <option value='华磊'>华磊</option>
                                <option value='华伟'>华伟</option>
                                <option value='华鑫'>华鑫</option>
                                <option value='华芳'>华芳</option>
                                <option value='华军'>华军</option>
                                <option value='华群'>华群</option>
                                <option value='华杰'>华杰</option>
                                <option value='华英'>华英</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">推荐人:</label>
                        <div class="col-sm-5">
                            <input type="text" name="recommend_name" class="form-control" id="inputname" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputname" class="col-sm-2 control-label">手机号:</label>
                        <div class="col-sm-5">
                            <input type="text" name="recommend_phone" class="form-control" id="inputname" placeholder="">
                        </div>
                    </div>
                    

                    
                    

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" id="singcms-button-submit2">提交</button>
                        </div>
                    </div>
                </form>


            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Morris Charts JavaScript -->
<script>

    var SCOPE = {
        'save_url' : 'index.php?s=admin/user/community',
        'jump_url' : 'index.php?s=admin/user/index',
    }


</script>
{include file="index/footer"}





